/* Label Style Start */
.label {
	-fx-font-family: 'Arial';
	-fx-font-size: 13px;
	-fx-text-fill: #000000;
}
.check-box {
	-fx-font-family: 'Arial';
    -fx-font-size: 13px;
    -fx-text-fill: #000000;
    -fx-scale-x: 0.9;
            -fx-scale-y: 0.9;
}
.radio-button {
	-fx-font-family: 'Arial';
    -fx-font-size: 13px;
    -fx-text-fill: #000000;
}

/* Label Style End */

/* Textfield Start */
.text-field {
	-fx-font-family: "Arial";
	-fx-background-color: #fff;
	-fx-border-color: #99a3ac;
	-fx-border-width: 1px;
	-fx-font-size: 13px;
	-fx-pref-height: 32px;
	-fx-pref-width: 164px;
	-fx-border-radius: 4px;
	/*-fx-padding: 5px;*/
}

.text-field:focused {
	-fx-border-width: 2px !important;
	-fx-background-color: #fff9c4 !important;
	-fx-border-color: #00a0f5 !important;
}

/*.text-field:hover {
  -fx-background-color: #fff9c4;
  -fx-border-width: 1px;
  -fx-border-color: #99a3ac;
}*/
/* Textfield End */

/* Combobox Start */
.combo-box {
	-fx-background-color: #fff;
	-fx-border-color: #99a3ac;
	-fx-border-radius: 4px;
	-fx-font-size: 13px;
	-fx-pref-height: 32px;
	-fx-pref-width: 164px;
	-fx-border-width: 1px;
}

.combo-box .text-input {
	-fx-background-color: transparent;
	-fx-border-radius: 0px;
	-fx-border-color: transparent;
}

.combo-box:focused {
	-fx-background-color: #fff9c4 !important;
	-fx-border-color: #00a0f5 !important;
	-fx-border-width: 2px !important;
}

.combo-box:hover {
	-fx-background-color: #fff9c4;
}

.combo-box-popup {
	-fx-background-color: #fff;
	-fx-border-color: #ccc;
	-fx-border-radius: 0px;
	-fx-pref-height: 100px;
	-fx-pref-width: 300px;
}

.combo-box-popup .list-cell {
	-fx-text-fill: #333333;
	-fx-font-size: 13px;
	-fx-padding: 5px;
}

.combo-box-popup .list-cell:hover {
	-fx-background-color: #b3e4ff;
}

.combo-box-popup .list-view .list-cell:selected {
	-fx-background-color: #00a0f5;
	-fx-text-fill: white;
}

/* Combobox End */

/* Submit Btn Start */
.submit-btn {
	-fx-font-family: "Arial";
	-fx-pref-height: 32px;
	-fx-font-size: 13px;
	-fx-pref-width: 100px;
	-fx-background-color: white;
	-fx-text-fill: #4d4d4d;
	-fx-border-color: #ccc;
	-fx-border-width: 1px;
	-fx-border-radius: 3px;
	-fx-cursor: hand;
	-fx-font-weight: bold;
}

.submit-btn:hover,
.submit-btn:focused {
	-fx-border-width: 2px;
	-fx-background-color: #fff9c4;
	-fx-border-color: #00a0f5;
	-fx-cursor: hand;
}

/* Submit Btn End */

/* Cancel Btn Start */
.cancel-btn {
	-fx-font-family: "Arial";
	-fx-pref-height: 32px;
	-fx-font-size: 13px;
	-fx-pref-width: 100px;
	-fx-background-color: white;
	-fx-text-fill: #4d4d4d;
	-fx-font-weight: bold;
	-fx-border-color: #ccc;
	-fx-border-width: 1px;
	-fx-border-radius: 3px;
	-fx-cursor: hand;
}

.cancel-btn:hover,
.cancel-btn:focused {
	-fx-border-width: 2px;
	-fx-background-color: #fff9c4;
	-fx-border-color: #00a0f5;
	-fx-cursor: hand;
}

/* Cancel Btn End */

/* Convert btn */
.convert_btn_style {
	-fx-font-family: "Arial";
	-fx-pref-height: 32px;
	-fx-pref-width: 100px;
	-fx-font-size: 13px;
	-fx-background-color: white;
	-fx-text-fill: #4d4d4d;
	-fx-font-weight: bold;
	-fx-border-color: #ccc;
	-fx-border-width: 1px;
	-fx-border-radius: 3px;
	-fx-cursor: hand;
}

.convert_btn_style:hover,
.convert_btn_style:focused {
	-fx-border-width: 2px;
	-fx-background-color: #fff9c4;
	-fx-border-color: #00a0f5;
	-fx-cursor: hand;
}

/* Convert btn */

#add_charges {
	-fx-font-family: "Arial";
	-fx-pref-height: 32px;
	-fx-background-color: white;
	-fx-text-fill: #4d4d4d;
	-fx-font-weight: bold;
	-fx-border-color: #ccc;
	-fx-border-width: 1px;
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;
	-fx-cursor: hand;
	-fx-font-size: 13px;
}

#add_charges:hover,
#add_charges:focused {
	-fx-border-color: #00a0f5;
	-fx-background-color: #fff9c4;
	-fx-border-width: 2px;
	-fx-cursor: hand;
}


/* Tableview Start */
.table-view .column-header,
.table-view .column-header-background .filler {
	-fx-font-family: "Arial";
	-fx-font-size: 13px;
	-fx-alignment: CENTER_LEFT;
	-fx-pref-height: 35px;
	-fx-padding: 0px;
}

.table-view .table-cell {
	-fx-font-size: 13px;
	-fx-alignment: CENTER_LEFT;
	-fx-padding: 0 0 0 0;
	-fx-cell-size: 30px;
	/* Set cell height */
}

.table-view .cell {
	-fx-cell-size: 30px;
	/* Set cell height */
}

.table-row-cell:odd,
.table-row-cell:even {
	-fx-background-color: #f6f6f9;
	-fx-border-color: transparent transparent #e0e0e1 transparent;
	/* Adjust border color as needed */
	-fx-border-width: 0 0 1 0;
	/* Adjust border width as needed */
}

.table-column {
	-fx-border-color: transparent #e0e0e1 transparent transparent;
	/* Adjust border color as needed */
	-fx-border-width: 0 1 0 0;
	/* Adjust border width as needed */
}

.table-view:focused {
	-fx-background-color: -fx-box-border, -fx-control-inner-background;
	-fx-background-insets: 1, 1;
}

.table-view:hover {
	-fx-cursor: hand;
}

/*
#table_textfield {
    -fx-background-color: yellow;
    -fx-text-fill: blue;
} */

/* Tableview End */

/* TabPane style Start */
.tab-pane {
-fx-background-color: #e9f7fd
}

.tab-pane .tab-header-background {
	-fx-background-color: #e9f7fd;
	/* Change to whatever color you prefer */
}

.tab-pane .tab {
	-fx-background-color: #e9f7fd !important;
	/* Set the background color of non-selected tabs */
	-fx-text-fill: black;
	-fx-font-size: 13px;
    	-fx-font-weight: 700;
	/* Set the text color of non-selected tabs */
}

.tab-pane .tab:selected {
	-fx-background-color: #d9f0fb !important;
	-fx-border-color: #c7dbe4;
	-fx-border-radius: 4
}

.tab-pane .tab:hover {
	-fx-background-color: #d9f0fb !important;
}

/*.tab-pane .tab:focused {
    -fx-background-color: red !important;
    -fx-text-fill: black;
}*/
/* TabPane style End*/

/* ID Styles Start  */

#tabInnerHb{

}

#rightBorder{
-fx-border-color: #EAD8B1;
-fx-border-width: 0 2 0 0;
}

#mainGridStyle {
	-fx-background-color: #f8f0d2;
	-fx-background-radius: 6;
	-fx-padding: 8px;
	-fx-border-radius: 6;
	-fx-border-width: 2;
	-fx-border-color: #EAD8B1;
}

#gridCommonTextStyle {
    -fx-text-fill:#b8762b;
	-fx-font-weight: bold;
	-fx-opacity: 0.8;
	-fx-font-size:13px;
}
#gridCommonTextStyleBlack {
	-fx-font-weight: bold;
	-fx-opacity: 0.8;
	-fx-font-size:13px;
}

#supplierTableStyle {
	-fx-background-color: #e9f7fd;
}

#bigLabel {
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
	-fx-font-size: 15px;
	-fx-text-fill: #000000;
}

#topMainDiv {
	-fx-padding: 12px;
}

#topInnerDiv {
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 0);
	-fx-background-color:#fff;
	-fx-background-radius:6;
	-fx-padding: 8px
}
#topInnerDivAccountEntry {
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 0);
	-fx-background-color: #fff;
	-fx-background-radius: 6;
	-fx-padding: 12px
}


#topInnerHbOne {
	-fx-padding: 6px
}

#topInnerHbTwo {
	-fx-padding: 6px
}

#tabMianDiv {
	-fx-padding: 8px
}






/* ID Styles End  */


// sales quotation
#sqtotalFirst{
-fx-padding:8px;
}
#sqtotalsecond{
-fx-padding:8px;
}
#sqbuttonsMainDiv{
-fx-padding:8px;
}
#supplierTableMainDiv{
-fx-padding:8px;
}

//top
#sqTranxDate{
-fx-pref-width:70px;
}
#sqlblClientName{
-fx-pref-width:87px;
}


// sale quotation to order
#sq2olblOrderNo{
-fx-pref-width:87px;
}

// Sales Order
#solblTranxDate{
-fx-pref-width:70px;
}
#solblOrderNo{
-fx-pref-width:79px;
}

// Sales ordre to challan
#so2cChallanDate{
-fx-pref-width:85px;
}
#so2cChallanNo{
-fx-pref-width:80px;
}
#tfDisPer{
-fx-pref-width:60px;
}
#tfDisAmt{
-fx-pref-width:80px;
}
#tfCommonWidth{
-fx-pref-width:90px;
}
#middleMainDiv{
-fx-padding:8px;
}

// Sales order to invoice
#so2iTranxDate{
-fx-pref-width:72px;
}
#so2iInvoiceDate{
-fx-pref-width:86px;
}

// sales challan

#sclblChallanDate{
-fx-pref-width:85px;
}
#sclblChallanNo{
-fx-pref-width:78px;
}

// sales challan to invoice
#sc2ilblTranxDate{
-fx-pref-width:73px;
}
#sc2ilblInvoiceDate{
-fx-pref-width:85px;
}

// Purchase Order
#poOrderNo{
-fx-pref-width:65px;
}
#poOrderDate{
-fx-pref-width:84px;
}

// purchase order to challan
#po2cTranxDate{
-fx-pref-width:74px;
}
#po2cChallanDate{
-fx-pref-width:85px;
}
// purchase order to invoice
#po2ilblTranxDate{
-fx-pref-width:72px;
}
#po2ilblInvoiceDate{
-fx-pref-width:85px;
}

//Purchase Challan
#pcTranxDate{
-fx-pref-width:74px;
}
#pcChallanDate{
-fx-pref-width:85px;
}
// Purchase Challan To Invoice
#pc2iTranxDate{
-fx-pref-width:72px;
}
#pc2iInvoiceDate{
-fx-pref-width:85px;
}

// sale quotation to challan
#sq2cChallanDate{
-fx-pref-width:91px;
}
#sq2cChallanNo{
-fx-pref-width:77px;
}
// tranx list pages
#tfSearchField{
-fx-pref-width:250px;
}

#tranxListTableViewStyle {
	-fx-padding: 0px;
	/* Adjust the padding as needed */
}
#tranxListTableViewStyle .column-header .label {
	-fx-font-family: 'Arial';
	-fx-text-fill: black;
	-fx-alignment: CENTER-LEFT;
}

#tranxListTableViewStyle .column-header,
#tranxListTableViewStyle .column-header .filler,
#tranxListTableViewStyle .column-header-background .filler {
	-fx-background-color: #ffedcc;
	-fx-font-size: 13px;
	-fx-alignment: CENTER;
	-fx-font-weight: bold;
	-fx-padding:0 0 0 5;
}

#tranxListTableViewStyle .table-cell {
	-fx-font-family: 'Arial';
	-fx-font-size: 13px;
	-fx-alignment: CENTER_LEFT;
}

#tranxListTableViewStyle .cell {
	-fx-cell-size: 35;
}

#tranxListTableViewStyle .column-header {
	-fx-alignment: CENTER_LEFT;
}

#tranxListTableViewStyle .table-cell {
	-fx-border-color: transparent;
	-fx-padding: 0 0 0 5;
}

#tranxListTableViewStyle .table-row-cell:odd {
	-fx-background-insets: 0, 0 0 1 0;
	-fx-padding: 0.0em;
}

#tranxListTableViewStyle .table-row-cell:even {
	-fx-background-insets: 0, 0 0 1 0;
	-fx-padding: 0.0em;
}

#tranxListTableViewStyle .table-row-cell:odd,
#tranxListTableViewStyle .table-row-cell:even {
	-fx-background-color: white;
	-fx-border-color: transparent transparent #e6e5e5 transparent;
	/* Adjust border color as needed */
	/*-fx-border-width: 0 0 1 0;*/
	/* Adjust border width as needed */
}

#tranxListTableViewStyle .table-row-cell:selected {
	-fx-background-color: #E1E0E0;
	-fx-text-background-color: black;
}

#tranxListTableViewStyle:focused {
	-fx-background-color: -fx-box-border, -fx-control-inner-background;
	-fx-background-insets: 0, 1;
}

#tranxListTableViewStyle:hover {
	-fx-cursor: hand;
}

//Login Style

#login_button {
    -fx-background-color: #21c78a;
    -fx-padding:0px;
    -fx-background-radius: 20;
    -fx-border-radius:20;
    -fx-pref-height:32px;
    -fx-pref-width:90px;
}

#login_button:hover,
#login_button:focused{
 -fx-border-color: #1a9b82;
 -fx-border-width:3px;
}
#loginBox{
-fx-pref-height:450;
-fx-pref-width:450;
}
#lockImg{
-fx-max-width: 50px;
    -fx-min-width: 50px;
    -fx-pref-width: 50px;
}
#loginText{
-fx-font-family:"Arial";
-fx-font-size:18px;
-fx-text-fill:#fff;
}
#loginMediumLabels{
-fx-font-family: 'Arial';
	-fx-font-size: 18px;
	-fx-text-fill: #000000;
}
#loginMediumLabelsColored{
-fx-font-family: 'Arial';
	-fx-font-size: 18px;
	-fx-text-fill: #00a0f5;
}
#loginBottomPadding{
-fx-padding:20px;
}
/* Custom TextField Style */
#customeTextFields {
    -fx-font-family: "Arial";
    	-fx-background-color: #fff;
    	-fx-font-size: 13px;
    	-fx-pref-height: 32px;
    	-fx-border-radius: 4px;
}

#customeTextFields:focused {
    -fx-border-width: 0px !important;
    -fx-background-color: transparent !important;
}
#topPadding{
-fx-padding:22px;
}
#smallIconsMain{
-fx-padding:8;
}

#backImageMainDiv{
-fx-max-width: 400px;
    -fx-min-width: 400px;
    -fx-pref-width: 400px;
}
#smallIcons{
-fx-max-width: 15px;
    -fx-min-width: 15px;
    -fx-pref-width: 15px;
}


// end
/* Company admin */
#compAdminTfEmail{
-fx-pref-width:95px;
}
#compAdFullName{
-fx-pref-width:67px;
}
/* End */


/* company user start */
#compUserGender{
-fx-pref-width:63px;
}
/* end */

/* salesman start */
#salesmanCommonLbl{
-fx-pref-width:90px;
}
#salesmanCommonTf{
-fx-pref-width:230px;
}
/* end */

#doctorMasterLbl{
-fx-pref-width:100px;
}
#doctorMasterTf{
-fx-pref-width:220px;
}