#addButton {
	-fx-font-family: "Arial";
	-fx-pref-height: 34px;
	-fx-background-color: white;
	-fx-text-fill: #4d4d4d;
	-fx-font-weight: bold;
	-fx-border-color: #ccc;
	-fx-border-width: 1px;
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;
	-fx-cursor: hand;
	-fx-font-size: 14px;
}

#addButton:hover {
	-fx-border-color: #00a0f5;
	-fx-background-color: #fff9c4;
	-fx-border-width: 2px;
	-fx-cursor: hand;
}

#addButton:focused {
	-fx-border-color: #00a0f5;
	-fx-background-color: #fff9c4;
	-fx-border-width: 2px;
	-fx-cursor: hand;
}

#removeButton {
	-fx-font-family: "Arial";
	-fx-pref-height: 34px;
	-fx-background-color: white;
	-fx-text-fill: #4d4d4d;
	-fx-font-weight: bold;
	-fx-border-color: #ccc;
	-fx-border-width: 1px;
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;
	-fx-cursor: hand;
	-fx-font-size: 14px;
}

#removeButton:hover {
	-fx-border-color: #00a0f5;
	-fx-background-color: #fff9c4;
	-fx-border-width: 2px;
	-fx-cursor: hand;
}

#removeButton:focused {
	-fx-border-color: #00a0f5;
	-fx-background-color: #fff9c4;
	-fx-border-width: 2px;
	-fx-cursor: hand;
}

.no-header .column-header-background {
    visibility: hidden;
      -fx-max-height: 0;
        -fx-pref-height: 0;
        -fx-min-height: 0;
}



.table-view .table-cell {
    -fx-font-size: 14px;
     -fx-alignment: CENTER_LEFT;
}

.table-view .cell{
	 -fx-cell-size: 32;

}

.table-view .table-cell{
    -fx-padding: 2 0 2 6px;
}

/*
.table-row-cell: hover {
    -fx-background-color: #bfe5f2;
}
*/


.table-row-cell:odd,
.table-row-cell:even {
    -fx-background-color: #ffffff;
    -fx-border-color: transparent transparent #d0d6dc transparent;
    -fx-border-width: 0 0 1 0;
}
.table-column {
    -fx-border-color: transparent #d0d6dc transparent transparent;
    -fx-border-width: 0 1 0 0;
}
.table-row-cell:selected {
    -fx-background-color: #E1E0E0;
    -fx-text-background-color: black;
}
.table-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
}
.table-view:focused .table-row-cell:selected {
    -fx-background-color: #E1E0E0; /* Light gray background for selected rows when the table is focused */
}
.table-view .table-row-cell:selected {
    -fx-background-color: #ffffff; /* Reset background color for selected rows when the table is not focused */
    -fx-text-background-color: black; /* Ensure text color remains black */
}
.table-view:hover {
    -fx-cursor: hand;
}
.table-column-no-border {
    -fx-border-width: 0 0 0 0;
}

.label {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-text-fill: #3f4041;
    /*-fx-font-weight: bold;*/
}




