/*TEXTFIELD===========================================================================================================================*/
.text-field {
 -fx-font-family: "Inter", sans-serif;
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
   -fx-pref-height: 32px;
  -fx-pref-width: 350px;
    -fx-border-radius: 3px;
    -fx-padding: 5px;
}

.text-field:focused,
.button:focused {
-fx-border-width: 2px;
    -fx-background-color: #fff9c4;
    -fx-border-color: #00a0f5;
}

.text-field:hover {
    -fx-background-color: #fff9c4;
}
/*==========================================================================================================================================*/


/*SUBMIT========================================================================================================================================*/
#submit-btn {
    -fx-padding: 5px 14px;
    -fx-font-family: "Inter", sans-serif;
    -fx-pref-width: 90px;
    -fx-pref-height: 34px;
    -fx-margin-left: 10px;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: #21c78a;
    -fx-font-weight: bold;
    -fx-focus-traversable: false;
    -fx-background-radius: 4px;
     -fx-border-radius: 4px;
}

#submit-btn:hover, #submit-btn:focused {
    -fx-padding: 5px 14px;
    -fx-font-family: "Inter", sans-serif;
    -fx-pref-width: 90px;
    -fx-pref-height: 34px;
    -fx-text-fill: white;
    -fx-margin-left: 10px;
    -fx-font-size: 14px;
    -fx-border-color: #20a574;
    -fx-background-color: #20a574;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 4px;
     -fx-border-radius: 4px;
}
/*==========================================================================================================================================*/

/*CANCEL====================================================================================================================================*/
#cancel-btn {
    -fx-padding: 5px 14px;
    -fx-font-family: "Inter", sans-serif;
    -fx-pref-width: 90px;
    -fx-pref-height: 34px;
    -fx-margin-left: 10px;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: #adadad;
    -fx-font-weight: bold;
        -fx-focus-traversable: false;
        -fx-background-radius: 4px;
         -fx-border-radius: 4px;
}

#cancel-btn:hover, #cancel-btn:focused {
    -fx-padding: 5px 14px;
    -fx-font-family: "Inter", sans-serif;
    -fx-pref-width: 90px;
    -fx-pref-height: 34px;
    -fx-text-fill: white;
    -fx-border-radius: 4px;
    -fx-margin-left: 10px;
    -fx-font-size: 14px;
    -fx-border-color: #888888;
    -fx-background-color: #888888;
    -fx-font-weight: bold;
    -fx-cursor: hand;
     -fx-background-radius: 4px;
         -fx-border-radius: 4px;
}
/*==========================================================================================================================================*/