.main_head {
-fx-background-color:  #cee7f1
}

#create_hsn {
    -fx-font-size: 16px;
    -fx-fill: #FFA500;
    -fx-font-weight: bold;
}


.text-field {
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-pref-height: 34px;
    -fx-pref-width: 200px;
    -fx-border-radius: 3px;
    -fx-padding: 5px;
}

.text-field:focused,
.button:focused {
-fx-border-width: 2px;
    -fx-background-color: #fff9c4;
    -fx-border-color: #00a0f5;
}

.text-field:hover {
    -fx-background-color: #fff9c4;
}

.combo-box {
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-radius: 2px;
    -fx-pref-height: 34px;
    -fx-pref-width: 200px;
    -fx-border-width: 1px;
}

.combo-box:focused {
    -fx-background-color: #fff9c4;
    -fx-border-color: #00a0f5;
    -fx-border-width: 2px;
}
.combo-box:hover {
    -fx-background-color: #fff9c4;
    -fx-cursor: hand;
}
.combo-box-popup {
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-radius: 0px;
    -fx-pref-height: 100px;
    -fx-pref-width: 200px;
}


.combo-box-popup .list-cell {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-padding: 5px;
}


.combo-box-popup .list-cell:hover {
    -fx-background-color: #b3e4ff;
    -fx-cursor: hand;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #00a0f5;
    -fx-text-fill: white;
}

.label {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-font-weight: normal;
}


/*SUBMIT========================================================================================================================================*/
/*#submit-btn {
    -fx-padding: 5px 14px;
    -fx-font-family:"Arial";
    -fx-pref-width: 90px;
    -fx-pref-height: 34px;
    -fx-margin-left: 10px;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: #21c78a;
    -fx-font-weight: bold;
   /* -fx-focus-traversable: false;
    -fx-background-radius: 4px;
     -fx-border-radius: 4px;
}*/

/* #submit-btn:hover, #submit-btn:focused {
    -fx-padding: 5px 14px;
    -fx-font-family:"Arial";
    -fx-pref-width: 90px;
    -fx-pref-height: 34px;
    -fx-text-fill: white;
    -fx-margin-left: 10px;
    -fx-font-size: 14px;
    -fx-border-color: #20a574;
    -fx-background-color: #20a574;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 4px;
     -fx-border-radius: 4px;
}
/*==========================================================================================================================================*/

/*CANCEL====================================================================================================================================*/
/*
#cancel-btn {
    -fx-padding: 5px 14px;
    -fx-font-family: "Arial", sans-serif;
    -fx-pref-width: 90px;
    -fx-pref-height: 34px;
    -fx-margin-left: 10px;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: #adadad;
    -fx-font-weight: bold;
        -fx-focus-traversable: false;
        -fx-background-radius: 4px;
         -fx-border-radius: 4px;
}

#cancel-btn:hover, #cancel-btn:focused {
    -fx-padding: 5px 14px;
    -fx-font-family: "Arial", sans-serif;
    -fx-pref-width: 90px;
    -fx-pref-height: 34px;
    -fx-text-fill: white;
    -fx-border-radius: 4px;
    -fx-margin-left: 10px;
    -fx-font-size: 14px;
    -fx-border-color: #888888;
    -fx-background-color: #888888;
    -fx-font-weight: bold;
    -fx-cursor: hand;
     -fx-background-radius: 4px;
         -fx-border-radius: 4px;
}
/*==========================================================================================================================================*/
/* Submit Btn Start */
.submit-btn {
  -fx-font-family: "Arial";
  -fx-pref-height: 34px;
  -fx-font-size:14px;
  -fx-pref-width:100px;
  -fx-background-color: white;
  -fx-text-fill: #4d4d4d;
  -fx-border-color: #ccc;
  -fx-border-width: 1px;
  -fx-border-radius: 3px;
  -fx-cursor: hand;
  -fx-font-weight: bold;
}

.submit-btn:hover,
 .submit-btn:focused{
 -fx-border-width: 2px;
  -fx-background-color: #fff9c4;
  -fx-border-color: #00a0f5;
  -fx-cursor: hand;
}
/* Submit Btn End */

/* Cancel Btn Start */
.cancel-btn {
  -fx-font-family: "Arial";
  -fx-pref-height: 34px;
  -fx-font-size:14px;
  -fx-pref-width:100px;
  -fx-background-color: white;
  -fx-text-fill: #4d4d4d;
  -fx-font-weight: bold;
  -fx-border-color: #ccc;
  -fx-border-width: 1px;
  -fx-border-radius: 3px;
  -fx-cursor: hand;
}

.cancel-btn:hover,
.cancel-btn:focused {
  -fx-border-width: 2px;
    -fx-background-color: #fff9c4;
    -fx-border-color: #00a0f5;
    -fx-cursor: hand;
}
/* Cancel Btn End */

/*table view css-----------------------------------------------------------------------------------------------------------------------------------*/
.table-view {
    -fx-padding: 0px; /* Adjust the padding as needed */
}
.table-view .column-header .label{
    -fx-font-family:"Arial";
    -fx-text-fill: black;
    -fx-alignment:CENTER-LEFT;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #ffedcc;
     -fx-font-size: 12pt;
    -fx-alignment: CENTER_LEFT;
}
.table-view .table-cell {
    -fx-font-size: 14px;
     -fx-alignment: CENTER_LEFT;
}

.table-view .cell{
	 -fx-cell-size: 40;

}
.table-view .column-header {
    -fx-alignment: CENTER_LEFT;
}


.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

/*
.table-row-cell: hover {
    -fx-background-color: #bfe5f2;
}
*/
.table-row-cell: odd{
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd,
.table-row-cell:even {
    -fx-background-color: white;
    -fx-border-color: transparent transparent #e6e5e5 transparent; /* Adjust border color as needed */
    -fx-border-width: 0 0 1 0; /* Adjust border width as needed */
}

/*
.table-row-cell:filled:selected:hover {
    -fx-background-color: #153051;
}
*/
.table-row-cell:selected {
    -fx-background-color: #E1E0E0;
     -fx-text-background-color: black;
}

.table-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
}

.table-view:hover {
    -fx-cursor: hand;
}