

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-font-family: "Arial";
    -fx-font-size: 10pt;
    -fx-alignment: CENTER_LE0FT;
    -fx-pref-height: 40px;
}

.table-view .table-cell {
    -fx-font-size: 14px;
     -fx-alignment: CENTER_LEFT;
}

.table-view .cell{
	 -fx-cell-size: 34;
}

.table-view .table-cell{
    -fx-padding: 0 0 0 0;
}

/*
.table-row-cell: hover {
    -fx-background-color: #bfe5f2;
}
*/

.table-row-cell:odd,
.table-row-cell:even {
    -fx-background-color: #f6f6f9;
    -fx-border-color: transparent transparent #e0e0e1 transparent; /* Adjust border color as needed */
    -fx-border-width: 0 0 1 0; /* Adjust border width as needed */
}
.table-column {
    -fx-border-color: transparent #e0e0e1 transparent transparent; /* Adjust border color as needed */
    -fx-border-width: 0 1 0 0; /* Adjust border width as needed */
}

.table-row-cell:selected {
    -fx-background-color: #e4f3e4;
     -fx-text-background-color: black;
}

/*
.table-row-cell:hover {
    -fx-background-color: #e4f3e4;
     -fx-text-background-color: black;
}

*/
.table-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 1, 1;
}


.table-view:hover {
    -fx-cursor: hand;
}

/*
#table_textfield {
    -fx-background-color: yellow;
    -fx-text-fill: blue;
} */

/*==========================================================================================================================================*/

/* Submit Btn Start */
.submit-btn {
  -fx-font-family: "Arial";
  -fx-pref-height: 34px;
  -fx-font-size:14px;
  -fx-pref-width:100px;
  -fx-background-color: white;
  -fx-text-fill: #4d4d4d;
  -fx-border-color: #ccc;
  -fx-border-width: 1px;
  -fx-border-radius: 3px;
  -fx-cursor: hand;
  -fx-font-weight: bold;
}

.submit-btn:hover,
 .submit-btn:focused{
 -fx-border-width: 2px;
  -fx-background-color: #fff9c4;
  -fx-border-color: #00a0f5;
  -fx-cursor: hand;
}
/* Submit Btn End */

/* Cancel Btn Start */
.cancel-btn {
  -fx-font-family: "Arial";
  -fx-pref-height: 34px;
  -fx-font-size:14px;
  -fx-pref-width:100px;
  -fx-background-color: white;
  -fx-text-fill: #4d4d4d;
  -fx-font-weight: bold;
  -fx-border-color: #ccc;
  -fx-border-width: 1px;
  -fx-border-radius: 3px;
  -fx-cursor: hand;
}

.cancel-btn:hover,
.cancel-btn:focused {
  -fx-border-width: 2px;
    -fx-background-color: #fff9c4;
    -fx-border-color: #00a0f5;
    -fx-cursor: hand;
}
/* Cancel Btn End */


/*COMBOBOX ==================================================================================================================================*/
.combo-box {
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
}

.combo-box .text-input {
    -fx-background-color: transparent;
    -fx-border-radius: 0px;
    -fx-border-color: transparent;
}

.combo-box:focused {
    -fx-background-color: #fff9c4;
    -fx-border-color: #00a0f5;
    -fx-border-width: 2px;
}

.combo-box-popup {
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-radius: 0px;
    -fx-pref-height: 100px;
    -fx-pref-width: 300px;
}


.combo-box-popup .list-cell {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-padding: 5px;
}


.combo-box-popup .list-cell:hover {
    -fx-background-color: #b3e4ff;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #00a0f5;
    -fx-text-fill: white;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
}
/*==========================================================================================================================================*/

/*TEXTFIELD===========================================================================================================================*/

.text-field {
 -fx-font-family: "Inter", sans-serif;
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-padding: 5px;
}

.text-field:focused,
.button:focused {
-fx-border-width: 2px;
    -fx-background-color: #fff9c4;
    -fx-border-color: #00a0f5;
}

.text-field:hover,
.button:hover {
    -fx-background-color: #fff9c4;
    }


.text-input, .text-input:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -50%);
    -fx-font-size: 14px;
}

#add_charges {
    -fx-padding: 5px 14px;
    -fx-font-family: "Inter", sans-serif;
    -fx-pref-height: 32px;
    -fx-font-size: 14px;
    -fx-text-fill:  #20a574;
        -fx-border-color: #20a574;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-background-radius: 4px;
     -fx-border-radius: 4px;
}

#add_charges:hover, #add_charges:focused {
    -fx-padding: 5px 14px;
    -fx-font-family: "Inter", sans-serif;
    -fx-pref-height: 32px;
    -fx-text-fill:  #54deab;
    -fx-font-size: 14px;
    -fx-border-color: #20a574;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 4px;
     -fx-border-radius: 4px;
}

/* TabPane Header Background Color Change */
      /*  #tabx .tab-header-background {
        -fx-background-color: #d9f0fb;
        -fx-border-color:#d9f0fb;
        }*/

        /* Define a CSS style for the tab headers */
        /*.tab-header-area .tab {
            -fx-background-color: #d9f0fb; *//* Set your desired color here *//*
            -fx-background-insets: 0;
            -fx-padding: 5 10; *//* Adjust padding as needed *//*
        }*/

      /*  .tab-pane> .tab-header-area > .headers-region > .tab:selected {
            -fx-background-color:  #a4dbf4; *//* Active tab color *//*
        }*/

       /* .tab-pane > .tab-header-area > .headers-region > .tab {
            -fx-background-color: #d9f0fb; *//* Inactive tab color *//*
        }*/
.tab-pane {

}
.tab-pane .tab-header-background {
    -fx-background-color: #e9f7fd; /* Change to whatever color you prefer */
}
.tab-pane .tab {
    -fx-background-color: #e9f7fd !important; /* Set the background color of non-selected tabs */
    -fx-text-fill: black; /* Set the text color of non-selected tabs */
}
.tab-pane .tab:selected {
    -fx-background-color:  #d9f0fb !important;
    -fx-border-color: #c7dbe4;
    -fx-border-radius:4
}
.tab-pane .tab:hover{
    -fx-background-color:#d9f0fb !important;
}


.sub {
    -fx-background-color: white;
    -fx-text-fill: #4d4d4d;
    -fx-pref-height: 31px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-cursor: hand;
        -fx-font-weight: bold;

}

.sub:hover,
.sub:focused {
    -fx-background-color: #fff9c4;
    -fx-border-color: #00a0f5;
}
