
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-font-family: "Arial";
    -fx-font-size: 10pt;
    -fx-pref-height: 25px;
     -fx-background-color: #D9D9D9;
}

.table-view .table-cell {
    -fx-font-size: 14px;
     -fx-alignment: CENTER_LEFT;
}

.table-view .cell{
	 -fx-cell-size: 25;

}

.table-view .table-cell{
    -fx-padding: 0 0 0 0;
}

.table-row-cell:odd,
.table-row-cell:even {
    -fx-background-color: #E9F7FD;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-border-width: 0 0 0 0;

}
.table-column {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-border-width: 0 0 0 0;
}
.table-view .table-cell {
    -fx-padding: 0 4 0 0;
}

.table-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
        -fx-background-color: #E9F7FD;
    -fx-background-insets: 1, 1;
}

.table-view {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-color: #E9F7FD;
    -fx-background-insets: 1, 1;
}

.table-view:hover {
    -fx-cursor: mouse;
}


