/* Label Style Start */
.label {
  -fx-font-family: "Arial";
  -fx-font-size: 14px;
  -fx-text-fill: #000000;
}
/* Label Style End */

/* Textfield Start */
.text-field {
  -fx-font-family: "Arial";
  -fx-background-color: #fff;
  -fx-border-color: #99a3ac;
  -fx-border-width: 1px;
  -fx-font-size: 14px;
  -fx-pref-height: 34px;
  -fx-pref-width: 200px;
  -fx-border-radius: 4px;
  /*-fx-padding: 5px;*/
}
.text-field:focused {
  -fx-border-width: 2px !important;
  -fx-background-color: #fff9c4 !important;
  -fx-border-color: #00a0f5 !important;
}
.text-field:hover {
  -fx-background-color: #fff9c4;
  -fx-border-width: 1px;
  -fx-border-color: #99a3ac;
}
/* Textfield End */

/* Combobox Start */
.combo-box {
  -fx-background-color: #fff;
  -fx-border-color: #99a3ac;
  -fx-border-radius: 4px;
  -fx-font-size: 14px;
  -fx-pref-height: 34px;
  -fx-pref-width: 200px;
  -fx-border-width: 1px;
}

.combo-box .text-input {
  -fx-background-color: transparent;
  -fx-border-radius: 0px;
  -fx-border-color: transparent;
}

.combo-box:focused {
  -fx-background-color: #fff9c4 !important;
  -fx-border-color: #00a0f5 !important;
  -fx-border-width: 2px !important;
}

.combo-box:hover {
  -fx-background-color: #fff9c4;
}

.combo-box-popup {
  -fx-background-color: #fff;
  -fx-border-color: #ccc;
  -fx-border-radius: 0px;
  -fx-pref-height: 100px;
  -fx-pref-width: 300px;
}

.combo-box-popup .list-cell {
  -fx-text-fill: #333333;
  -fx-font-size: 14px;
  -fx-padding: 5px;
}

.combo-box-popup .list-cell:hover {
  -fx-background-color: #b3e4ff;
}

.combo-box-popup .list-view .list-cell:selected {
  -fx-background-color: #00a0f5;
  -fx-text-fill: white;
}
/* Combobox End */

/* Submit Btn Start */

/*.submit-btn {
  -fx-padding: 5px 14px;
  -fx-font-family: "Arial";
  -fx-pref-height: 34px;
  -fx-pref-width:100px;
  -fx-border-radius: 6px;
  -fx-font-size: 14px;
  -fx-text-fill: #21c78a;
  -fx-background-color: transparent;
  -fx-border-width: 2px;
  -fx-border-color: #22c55e;
  -fx-font-weight: bold;
}

.submit-btn:hover {
  -fx-text-fill: white;
  -fx-background-color: #22c55e;
  -fx-background-radius: 6px;
  -fx-cursor: hand;
}
.submit-btn:focused {
  -fx-text-fill: white;
  -fx-background-color: #22c55e;
  -fx-background-radius: 6px;
  -fx-cursor: hand;
}*/

.submit-btn {
  -fx-font-family: "Arial";
  -fx-pref-height: 34px;
  -fx-pref-width:100px;
  -fx-font-size:14px;
  -fx-background-color: white;
  -fx-text-fill: #4d4d4d;
  -fx-border-color: #ccc;
  -fx-border-width: 1px;
  -fx-border-radius: 3px;
  -fx-cursor: hand;
  -fx-font-weight: bold;
}

.submit-btn:hover,
 .submit-btn:focused{
 -fx-border-width: 2px;
  -fx-background-color: #fff9c4;
  -fx-border-color: #00a0f5;
  -fx-cursor: hand;
}

/* Submit Btn End */

/* Cancel Btn Start */
/*.cancel-btn {
  -fx-padding: 5px 14px;
  -fx-font-family: "Arial";
  -fx-pref-height: 34px;
  -fx-pref-width:100px;
  -fx-border-radius: 6px;
  -fx-font-size: 14px;
  -fx-text-fill: #a0aab4;
  -fx-background-color: transparent;
  -fx-border-width: 2px;
  -fx-border-color: #a0aab4;
  -fx-font-weight: bold;
}

.cancel-btn:hover {
  -fx-text-fill: white;
  -fx-background-color: #a0aab4;
  -fx-background-radius: 6px;
  -fx-cursor: hand;
}
.cancel-btn:focused {
  -fx-text-fill: white;
  -fx-background-color: #a0aab4;
  -fx-background-radius: 6px;
  -fx-cursor: hand;
}*/

.cancel-btn {
  -fx-font-family: "Arial";
  -fx-pref-height: 34px;
  -fx-pref-width:100px;
  -fx-font-size:14px;
  -fx-background-color: white;
  -fx-text-fill: #4d4d4d;
  -fx-font-weight: bold;
  -fx-border-color: #ccc;
  -fx-border-width: 1px;
  -fx-border-radius: 3px;
  -fx-cursor: hand;
}

.cancel-btn:hover,
.cancel-btn:focused {
  -fx-border-width: 2px;
    -fx-background-color: #fff9c4;
    -fx-border-color: #00a0f5;
    -fx-cursor: hand;
}

/* Cancel Btn End */


/* Convert btn */
.convert_btn_style {
  -fx-font-family: "Arial";
  -fx-pref-height: 34px;
  -fx-pref-width:100px;
  -fx-font-size:14px;
  -fx-background-color: white;
  -fx-text-fill: #4d4d4d;
  -fx-font-weight: bold;
  -fx-border-color: #ccc;
  -fx-border-width: 1px;
  -fx-border-radius: 3px;
  -fx-cursor: hand;
}

.convert_btn_style:hover,
.convert_btn_style:focused {
  -fx-border-width: 2px;
    -fx-background-color: #fff9c4;
    -fx-border-color: #00a0f5;
    -fx-cursor: hand;
}

/* Convert btn */

#add_charges {
  -fx-font-family: "Arial";
  -fx-pref-height: 34px;
  -fx-background-color: white;
  -fx-text-fill: #4d4d4d;
  -fx-font-weight: bold;
  -fx-border-color: #ccc;
  -fx-border-width:1px;
  -fx-background-radius: 3px;
  -fx-border-radius: 3px;
  -fx-cursor:hand;
  -fx-font-size: 14px;
}

#add_charges:hover,
#add_charges:focused {
  -fx-border-color: #00a0f5;
  -fx-background-color: #fff9c4;
  -fx-border-width:2px;
  -fx-cursor:hand;
}

/* Tableview Start */
.table-view .column-header,
.table-view .column-header-background .filler {
  -fx-font-family: "Arial";
  -fx-font-size: 14px;
  -fx-alignment: CENTER_LEFT;
  -fx-pref-height: 35px;
  -fx-padding: 0px;
}

.table-view .table-cell {
  -fx-font-size: 14px;
  -fx-alignment: CENTER_LEFT;
  -fx-padding: 0 0 0 0;
  -fx-cell-size: 30px; /* Set cell height */
}

.table-view .cell {
  -fx-cell-size: 30px; /* Set cell height */
}

.table-row-cell:odd,
.table-row-cell:even {
  -fx-background-color: #f6f6f9;
  -fx-border-color: transparent transparent #e0e0e1 transparent; /* Adjust border color as needed */
  -fx-border-width: 0 0 1 0; /* Adjust border width as needed */
}

.table-column {
  -fx-border-color: transparent #e0e0e1 transparent transparent; /* Adjust border color as needed */
  -fx-border-width: 0 1 0 0; /* Adjust border width as needed */
}

.table-view:focused {
  -fx-background-color: -fx-box-border, -fx-control-inner-background;
  -fx-background-insets: 1, 1;
}

.table-view:hover {
  -fx-cursor: hand;
}



/*
#table_textfield {
    -fx-background-color: yellow;
    -fx-text-fill: blue;
} */

/* Tableview End */

/* TabPane style Start */
.tab-pane {
}
.tab-pane .tab-header-background {
  -fx-background-color: #e9f7fd; /* Change to whatever color you prefer */
}
.tab-pane .tab {
  -fx-background-color: #e9f7fd !important; /* Set the background color of non-selected tabs */
  -fx-text-fill: black; /* Set the text color of non-selected tabs */
}
.tab-pane .tab:selected {
  -fx-background-color: #d9f0fb !important;
  -fx-border-color: #c7dbe4;
  -fx-border-radius: 4;
}
.tab-pane .tab:hover {
  -fx-background-color: #d9f0fb !important;
}
/*.tab-pane .tab:focused {
    -fx-background-color: red !important;
    -fx-text-fill: black;
}*/
/* TabPane style End*/

.tabBackColor {
  -fx-background-color: #e9f7fd;
}

.tabTitle {
  -fx-font-size: 14px;
  -fx-font-weight: 700;
}

.mainGridStyle {
  -fx-background-color: #f8f0d2;
  -fx-background-radius: 6;
  -fx-padding: 0px;
}

.gridCommonTextStyle {
  -fx-font-weight: bold;
  -fx-opacity: 0.8;
}

.bigLabel {
  -fx-font-family: "Arial";
  -fx-font-weight: bold;
  -fx-font-size: 16px;
  -fx-text-fill: #000000;
}
.mediumLabel {
  -fx-font-family: "Arial";
  -fx-font-weight: bold;
  -fx-font-size: 14px;
  -fx-text-fill: #000000;
}

// css for textfields

/*Tranx Date lbl and textfield*/
.tranxDateLbl {
  -fx-pref-width: 80px;
}

.tranxDateTextField {
}
/* */

/*Ledger Name lbl and textfield*/
.lblLedgerName {
  -fx-pref-width: 100px;
}
.tfLedgerName {
  -fx-pref-width: 650;
}
/**/

/* Supplier gstin lbl and combobox */

.lblSupplierGstin {
}
.cmbSupplierGst {
}
/**/

/* Purchase Serial lbl and textfield */
.lblPurSerial {
}
.tfPurSerial {
}
/**/

/* Challan No lbl and textfield */
.lblChallanNo {
}
.tfChallanNo {
}
/**/

/* Challan No lbl and textfield */
.lblChallanDate {
  -fx-pref-width: 100px;
}
.tfChallanDate {
}
/**/

/* Pur Ac lbl and combo */
.lblPurAc {
}
.cmbPurAc {
}
/**/

/* Orders lbls */
.lblOrders {
}
.lblOrderValue {
}

/*Dis per tf */
.tfDisPer {
  -fx-pref-width: 60px;
}

/* Dis Amt tf*/
.tfDisAmt {
  -fx-pref-width: 80px;
}
/* Add Charger tf*/
.tfAddCharges {
  -fx-pref-width: 80px;
}

/* TOP MAIN DIV */
.topMainDiv {
  -fx-background-color: #fff;
  -fx-background-radius: 6;
  -fx-padding:5px;
  	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 0);
}

/* padding tabs  */

.ledgertabMainDiv {
  -fx-padding: 10px;
}
.ledgerTabInnerHb {
  -fx-padding: 5px;
}
.ledgerSingleInfo {
  -fx-padding: 5px;
}
.topDiv {
  -fx-padding: 15px;
}
.topFirstHbox {
  -fx-padding: 8px;
}
#gstTotalMainDiv {
  -fx-padding: 5px;
}
#lblTotal {
  -fx-font-weight: bold;
  -fx-padding: 0 0 0 15px;
  -fx-pref-width: 100px;
}
#lblTotalFirst {
  -fx-font-weight: bold;
  -fx-padding: 0 0 0 20px;
  -fx-pref-width: 100px;
}
#lblTotalSecond {
  -fx-font-weight: bold;
  -fx-pref-width: 100px;
}


// sales order to challan

#s2clblChallanDate{
-fx-pref-width:92px;
}
#s2clblChallanNo{
-fx-pref-width:84px;
}




// sales challan
#sctfdisper{
-fx-pref-width:70px;
}
#sctfdisamt{
-fx-pref-width:80px;
}
#sctfaddcharges{
-fx-pref-width:90px;
}
#sclblChallanDate{
-fx-pref-width:92px;
}
#sclblChallanNo{
-fx-pref-width:85px;
}
/*
#sctotalmainDiv{
-fx-pref-width:100px;
}*/


// purchase order to invoice
#po2ilblTranxDate{
-fx-pref-width:77px;
}
#po2ilblInvoiceDate{
-fx-pref-width:90px;
}

//purchase order to challan
#po2cTfDisPer{
-fx-pref-width:70px;
}
#po2cTfDisAmt{
-fx-pref-width:80px;
}
#po2cTfAddCharges{
-fx-pref-width:90px;
}